
@import 'normalized';

$blackColor: #2C2C2C;
$yellowColor: #ffe02e;
$yellow2Color: rgb(160, 128, 68);

body,
ul,
h1,
h2,
p{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    display: block;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;

}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    height: 60vh;
    .imgContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
        div{
            background-size: cover;
            background-position: center;
            width: calc((100% / 3) - 40px);
            height: 40vh;
            margin-right: 20px;
        }
        .imageOne{
            background-image: url(../assets/imageOne.jpeg);
            border-radius: 10px;
        }
        .imageTwo{
            background-image: url(../assets/imageTwo.jpeg);
            border-radius: 10px;
        }
        .imageThree{
            background-image: url(../assets/imageThree.jpeg);
            border-radius: 10px;
        }
    }
    h1{
        align-self: center;
        color: white;
        font-size: 5.4rem;
        margin-top: 40px;
        font-family: 'Mr Dafoe', cursive;
    }
}
.searchContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 35vh;
    .popUpError{
        font-size: 30px;
        color: white;
        align-self: center;
        position: absolute;
        background-color: $blackColor;
        display: flex;
        flex-direction: column;
        z-index: 20;
        button{
            margin: 20px;
        }
        p{
            margin: 20px;
        }
    }
    input {
        background: rgb(19, 113, 145);
        width: 20px;
        height: 20px;
        padding: 20px;
        border-radius: 30px;
        align-self: center;
        border: none;
        color: white;
        cursor: pointer;
        transition: width 1s ease;
        font-size: 1.6em;
    }

    select[name=language],
    select[name=year] {
        border: none;
        font-family: 'Lato', sans-serif;
        border-radius: 2px;
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 5px;
    }
    select[name=year]{
        margin-left: 10px;
    }
    .searchBtn{
        width: 22px;
        height: 22px;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        align-self: center;
        transition: all 1s ease;
    }   
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        i{
            font-size: 50px;
            color: white;
            display: none;
        }
    }   
    .dropDown{
        align-self: center;
        margin: 20px 0 20px 0;
    }
    
    .submit{
        align-self: center;
        width: 60%;
        text-align: center;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        cursor: pointer;
    } 
    .positioning{
        position: relative;
        display: flex;
        justify-content: center;
    }
}

ul {
    background-color: $blackColor;
    li{
        display: flex;
        justify-content: space-between;
        color: white;
        padding-top: 40px;
        margin-left: 40px;
    }
    p{
        font-family: 'Lato', sans-serif;
        font-size: 1.8rem;
        align-self: center;
        line-height: 1.3; 
        width: 70%;
    }
    img{
    height: 400px;
    width: 300px;
    }
    h2{
        padding-bottom: 20px;
    }
}

footer{
    height: 10vh;
    background-color: $yellow2Color;
    height: 5vh;
    p {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding-top: 5px;
        font-family: 'Lato', sans-serif;
    }
}

@import 'mobile';
// @import 'carousel';